/* custom styles */
html::-webkit-scrollbar {
    display: none;
}

body {
  background-color:white;
  font-family: 'Source Sans Pro', sans-serif;
  min-width: 320px;
}
p {
  font-size: 1.1em;
}

header {
  color:white;
  top:0;
  display:inline-block;
  width:100%;
  height: 225px;
  opacity:1;
  z-index: 10;
  padding:0;
}
.fixed {
  position:relative;
}

.solidback {
  position:absolute;
  top:0;
  background-color: black;
  width:100%;
  min-width: 320px;
  left:0;
  margin-right:0;
  height: 225px;
}

@media (min-width: 1200px) {
  .container {
    width: 85%;
  }
  .project {
    width: 100%;
  }
  .project p {
    position: absolute;
    top: 23%;
    transform: translateY(-23%);
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
  }
}

@media (min-width: 992px) {
  img.preview, section {
    min-height: 250px;
    height: 21vw;
    }
}

.header-right {
  float: right;
  clear:right;
  padding-left:0px;
  height: calc(225px - 56px);
}
h1 {
  margin-bottom:10px;
  font-size: 36px;
}

h2 {
  margin-top:10px;
  word-wrap: break-word;
  font-size: 22px;
}

h3 {
  padding: 10px;
  font-size:1.8em;
  font-weight: 900;
  margin: 0;
  text-align: left;
}

h4 {
  font-size: 1.6em;
}

h5 {
  font-size: 22px;
}

.profile-wrapper {
  height: calc(225px - 56px);
  width: 100%;
}

.profile {
  top: 15px;
  max-width: 30vw;
  min-width: 100px;
  width: 135px;
  border-radius: 10px;
  position: absolute;
  ;
}

.nav-container {
  position: relative;
  text-align: center;
  clear:right;
  padding: 0;
  width: 100%;
}

.navbar-collapse {
  padding:0;
  border-top: unset;
}

.navbar-toggle {
  color:white;
}

a, a:hover, nav a, nav a:visited, nav a:hover {
  text-decoration: none;
  color:white;
}

.nav>li {
  display: inline-block;
}

div.in .nav>li, div.collapsing .nav>li {
  display: block;
  background: black;
}

nav a, .project a {
  font-size: 1.2em;
  padding: 10px 15px;
}

.nav>li>a:hover, .nav>li>a:hover:focus, .project a {
  background:rgb(0,150,255);
}

.nav>li>a:focus {
  background: transparent;
}

main {
  margin-bottom: 0;
  text-align: center;
}

section {
   text-align: center;
   background: rgba(255,255,255,.9);
 }

 img.preview {
   box-shadow: 2px 2px 8px black;
 }

footer {
   bottom:0;
   text-align:center;
   color:black;
   display:block;
   margin: auto 0;
   width:100%;
 }
 footer p {
   margin: 10px 0;
 }

 .box {
   height: 55px;
 }

 .preview {
   width:100%;
 }

.caption {
  color:black;
  background: rgba(0,0,0,.2);
  padding:5px 0px;
  max-width:200px;
  margin:auto;
}

.fadingDescription {
  background: white;
  color: rgb(0,150,255);
  width:200px;
  margin:auto;

}

.caption:hover {
  color:white;
  background:rgb(0,150,255);
}

.icon:hover{
  border: 0px groove black;
  transform: scale(1.02);
  background:white;
}

.icon {
  margin: 1%;
  display:inline-block;
  width: 47px;
  border-radius: 50%;
  background:white;
  border: 4px solid transparent;
  background-clip: padding-box;
  vertical-align: middle;
  color: black;
}

.project-links a:hover {
  background:rgba(0,150,255,.8);
}

.project-links {
  padding:30px 0;
  height: 42px;
  bottom: 10px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.row.projects {
  margin: 10px auto;
  background-color:black;

}

.projects div:not(.parallax, .parallax-container) {
  margin-bottom: 25px;
  margin-top: 25px;

}

.project {
  padding:3%;
  min-height: 250px;
}

.project p {
  padding: 25px;
}

.parallax-container {
  position: relative;
  overflow: hidden;
  height: 500px;
  z-index: 0;
  background-color: white;
  box-shadow: inset 0px 0px 150px rgba(0,0,0,1);
}

.parallax-container .parallax {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}

.parallax-container .parallax img {
  opacity: 0.9;
  position: absolute;
  left: 50%;
  bottom: 0;
  object-fit: cover;
  width: 100%;
  min-height: 100%;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.project-details {
  min-height: 700px;
  padding: 50px;
}

.row.projects > :nth-child(2n+0) {
  background-color:white;
}
